@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;400;800;900&family=Barlow+Condensed:wght@100&family=Fredoka+One&display=swap');
* {
    scrollbar-width: thin;
}

html {
    padding: 0;
    margin: 0;
}

.router-button {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
    cursor: pointer;
}
.router-link {
    text-decoration: none;
    color: #105493;
    border-bottom: 1px solid #105493;
    cursor: pointer;
    font-size: 1.1em;
}
.router-card {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.MuiCardActionArea-root a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87)
}

